.map-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 40vh; /* Set height to full viewport height or adjust as needed */
  }
  .btn-primary:hover {
    background-color: #0056b3; /* Darker blue for hover */
  }
  
  .btn-outline-secondary:hover {
    background-color: rgba(108, 117, 125, 0.1); /* Light gray background on hover */
  }
  /* googleMapInt.css */
.custom-btn {
  padding: 10px 20px; /* Adjust padding as needed */
}
