.img-hover-zoom {
    transition: transform 0.3s ease; /* Smooth transition for the scaling effect */
}

.img-hover-zoom:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}
.text-above-image {
    margin-bottom: 25px; /* Adjust this value as needed */
}

.container {
    margin-bottom: 30px; /* Adjust the value as needed */
    
  }
  
  /* Base font sizes for larger screens */
h1 {
    font-size: 2.5rem; /* Adjust as needed for larger screens */
}

h3 {
    font-size: 1.5rem; /* Adjust as needed for larger screens */
}

/* Media queries for smaller screens */
@media (max-width: 576px) { /* Adjust the breakpoint as needed */
    h1 {
        font-size: 1.8rem; /* Smaller size for mobile */
    }

    h3 {
        font-size: 1rem; /* Smaller size for mobile */
    }
}

/* Base styles for larger screens */
.button-container {
    padding: 20px; /* Adjust as needed for top and bottom */
}

