h1, h2 {
    color: #343a40; /* Dark gray text */
}

ul {
    list-style-type: none;
    padding-left: 0;
}
.custom-margin {
    margin-top: 100px; /* Adjust this value as needed */
}
.about-us{
    margin-top: 100px;
}
.about-heading {
    margin-bottom: 40px; /* Adjust this value as needed */
}
.custom-background {
    background-image: url('/Client/src/images/background-image.jpg'); /* Update the path */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    padding: 50px 0; /* Add padding for some space */
    color: white; /* Optional: Change text color for readability */
  }
  .custom-image {
    max-width: 50%; /* Adjust the percentage as needed */
    height: auto;    /* Maintains aspect ratio */
  }
  