/* General Styles */
.custom-margin {
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
}

.card-body {
  padding: 1.5rem;
}

/* Responsive Design */
.container {
  padding: 0 20px; /* Add padding to ensure content doesn't touch screen edges */
  margin: 0 auto; /* Center the container */
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px; /* Reduce padding slightly for smaller screens */
  }

  .row {
    margin-top: 20px;
  }

  .col-md-6 {
    margin-bottom: 20px;
  }

  .img-fluid {
    max-width: 100%; /* Ensures the image fills its container */
  }
}

@media (max-width: 576px) {
  .custom-margin {
    padding: 0 10px; /* Further reduce padding for extra small screens */
  }

  h2 {
    font-size: 1.5rem;
  }

  .text-center {
    font-size: 1.2rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    font-size: 1rem;
  }
}

.limited-width-card {
  max-width: 950px;
  margin: 0 auto; /* Center the card */
}





/* Logo Styling */
.about-logo-container img, .custom-card-container img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Center the logo */
  display: block;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .about-logo-container img, .custom-card-container img {
    max-width: 80%; /* Scale down further for smaller screens */
  }
}

@media (min-width: 992px) {
  .about-logo-container img, .custom-card-container img {
    max-width: 50%; /* Limit size for larger screens */
  }
}
