/* Custom Card Container */
.custom-card-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 1rem auto;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

/* Responsive Typography */
h1, h2, h3, h4, h5 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}

p {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  line-height: 1.6;
}

/* Responsive Layout with Uniform Width */
@media (min-width: 992px) { /* Larger screens */
  .custom-card-container {
    flex-grow: 1;
    flex-basis: calc(50% - 20px); /* Two cards per row */
    max-width: calc(50% - 20px);
  }
}

@media (min-width: 1200px) { /* Extra-large screens */
  .custom-card-container {
    flex-grow: 1;
    flex-basis: calc(55% - 30px); /* Slightly wider cards */
    max-width: calc(55% - 30px);
  }
}

/* Uniform Layout for Small Screens */
@media (max-width: 768px) {
  .custom-card-container {
    flex-grow: 1;
    flex-basis: calc(100% - 10px); /* Full-width cards */
    max-width: calc(100% - 10px);
    margin: 5px auto;
  }
}
/* Logo Styling */
img {
  display: block; /* Ensures the logo is treated as a block-level element */
  margin: 0 auto; /* Centers the logo */
  height: auto; /* Maintains the aspect ratio */
}

/* Specific Styling for the Logo in its Container */
.logo-container img {
  max-width: 90%; /* Default scaling for smaller screens */
  height: auto;
  margin-bottom: 30px;
  margin-top: 50px;
}

@media (min-width: 992px) { /* Large screens */
  .logo-container img {
    max-width: 30%; /* Restrict to 25% of the screen width */
  }
}
.map-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.google-map-container {
  width: 100%;
  max-width: 1000px;
  height: 600px !important; /* Adjust height as needed */
}

