.report-issue-container {
    min-height: 100vh;
  }
  
  @media (max-width: 768px) {
    .report-issue-container {
      min-height: 110vh;
    }
  }
  
  @media (max-width: 576px) {
    .report-issue-container {
      min-height: 120vh;
    }
  }
  @media (max-width: 400px) {
    .report-issue-container {
      min-height: 160vh;
    }
  }
  