/* Base style using dynamic min-height */
.report-issue-container {
  min-height: var(--min-height, 120vh); /* Uses JS variable or defaults to 110vh */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Specific adjustments for each screen size, applied as fallbacks */
@media (max-width: 1920px) {
  .report-issue-container {
    min-height: 150vh; /* Fallback in case JS isn't available */
  }
}

@media (max-width: 768px) {
  .report-issue-container {
    min-height: 160vh;
  }
}

@media (max-width: 576px) {
  .report-issue-container {
    min-height: 155vh;
  }
}

@media (max-width: 400px) {
  .report-issue-container {
    min-height: 200vh;
  }
}

/* In your ReportIssueForm.css */

.recaptcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 576px) {
  .recaptcha-container {
    /* Additional styling for small screens */
    padding: 0 10px; /* Optional padding to avoid overflow on small screens */
  }
}

